{{> templates/admin/header}}
<div class="container">
  <div class="page-header">
    <h2>Browse</h2>
  </div>
  {{> templates/admin/search-results}}
</div>

<!-- div#wrap close -->
  <div id="push"></div>
</div>
{{> templates/admin/footer}}