{{> templates/admin/header}}
<div class="container">
  <div class="page-header">
    <h2>Ingest</h2>
  </div>
  
  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#image">Image</a></li>
    <li><a data-toggle="tab" href="#zip">Zip File</a></li>
    <li class="active"><a data-toggle="tab" href="#csv">CSV File</a></li>
    <li><a data-toggle="tab" href="#uri">URI</a></li>
  </ul>

  <div class="tab-content">
    <div id="image" class="tab-pane fade">
      <h3>Image</h3>
      <p>This is not implemented yet</p>
    </div>
    <div id="zip" class="tab-pane fade">
      <h3>Zip File</h3>
      <p>This is not implemented yet</p>
    </div>
    <div id="csv" class="tab-pane fade in active">
      <h3>CSV File</h3>
      <p>Implementing now</p>
    </div>
    <div id="uri" class="tab-pane fade">
      <h3>URI</h3>
      <p>This is not implemented yet</p>
    </div>
  </div>
</div>

<!-- div#wrap close -->
  <div id="push"></div>
</div>
{{> templates/admin/footer}}