{{> templates/admin/header}}
<div class="container">
  <div class="page-header">
    <h2>Metrics</h2>
  </div>
  <p>[Metrics page goes here]</p>
</div>

<!-- div#wrap close -->
  <div id="push"></div>
</div>
{{> templates/admin/footer}}
