{{> templates/admin/header}}
<div class="container">
  <div class="page-header">
    <form class="form-horizontal" id="search-form" role="form" action="search" method="get">
      <h2>Search
        <input type="text" class="form-control" name="query" id="query" value="{{searchQuery}}"
          placeholder="Try an ID search with wildcards:  id:*sharpie*">
      </h2>
    </form>
  </div>
  {{> templates/admin/search-results}}
</div>

<!-- div#wrap close -->
  <div id="push"></div>
</div>
{{> templates/admin/footer}}