language: java

jdk:
  - oraclejdk8

env:
  global:
    - secure: "RYQemsIceB/t+elIqLZM4tXPrUUHSLfwCRX3zwdzKGSPQtYx+ccHoNOmSnbutrwuheAhZhb8PGOp166Z2D9GTXNSF9iS8t3iqAr9G9E9bTkcPOOesZzHm1YZU2fds8rGm+hGBlSY3A5i7Al0tMXY5M6TcJbg50nqR+g429G0Ihm8EqXWZ9GmFQQ+Jw2qx8kpakDnwJEZn+YJwtdxNDVqZ2UBPwBCOpWoQu13EeH5VQ/W2r+KezBKma5kkCl03dvJeekariwAElyl6BpsbJKTfTNoOf2ML9551Megn7N/XYhXOYxL8fhRnCDG6A3XCHVttVsZiyLUZII7iOdGLkbLOvjq+DInTUvHKzMhMIcs5naDOZLRXeTteS/xtKTYcTNSaQ6J9FVRrB/4tRPaAdKaRumn/gLkyPybYL/vXps97usDsv6NsHJGMMdQaCFIEtJhzu3nZygEdHQG+2R8HPskBJFgDFVz9q1OJR7YiDJrjFI7jnr37HA3+xwHE6zfpA8NsC6zOUaeHNRWFin4a/IcUctzfZWcLw4+Neer4pprU3TlxmBY8pXCkj5OdEpgNjbDqK04knehDn6d/B75NGg9s/P9uG9Gw1UU8uaMe7KJVhKsV4mAKTZMqbBDo+vKgayPJ7eTahgf0NNqKCA0wQ35hV+rWaThA8eaeaxdF48ZEMc="
    - secure: "HBflk4KPMKddUOM3r1gdRycSXbWdH+eW7RS6z2l5EQwayvUdeI7lggfYbJQ8RlkfJlt8uOC2KwTv8bTrlNdlkF+qVj5Khl3k/PjhmHpVcRNdqmmXMz516DAtmy4TVChMZsO1MpfdurLtVJ1CAytCljXaiJfrMkspv2m6EabyC6C4pwzSP6OTJwa3SEF6ajEc19hsCEF1IPJt2m9812ElFBvyidKCd514syHHCy734qw/w/ZOL+GgaBY9qS59GUct9U6B8bn/OrwZYOCSFDoM+0+9WtkK+j4WUjv5KrciY/mfBvwNVJtncrUyvBXw2mWEqZhmARn8wgFaLb1XAKTI/gO0uryae2R2CHtwJ4EWZUN7G7swXDrK9FtOPjxr2Qk4ualjkxaYbDC15B1Isid4sgafnK2mhfEFIUkGyUnD1rxwrQxZa4kQJ92LEJReDaai9I3guOQO0iZEMVkx1/mz9MMaDulWhowyC+5iu9BcXs+MKh9T30h48oiWOXJXuwugRDhiqBGN/CnsIZvKdcGI7MMkeEsLNln59VP7fe5ktlVGSf/vsJt9WtaA7vLvW/QxRicxcmOXe/ubeMB8/rPsWdAwiY6kmw1auIEY+vvHUyyV7CmxIfilQ8YavHueeG/EGuznuq4Sh9gh32w36e4Ye0tAlwSCTN5ZAUhzw5qYSWQ="
    - secure: "ebYEuC1IH18KqtXohaKxxeqD6HFTK/7UZaj+1lPYfUrg5BDNTR9KeY2vGJyevKOXXVqSuykA9AvvBZ4r10WwbPYtVIew8Bo66KWsYcsIAzZXVp3sw4Mqq7W1pdlGCkZyY3mGIYrG/O9RJub3JaaQiwJ9qMwOU2AhZOcVGuKkfnmL5OLLHJFQG9RrptKY0CpTkENpW56fAIWeN/lbaBMmDhPB+txYybXWb7f7q3L+GXGEm8U1MC3a54oePfPX91MOfJgxjiGwiy7QuMJ1usbh6m7rmUorbJ0MU48WyZIVJeMWHiojHr2FM4YXmy2nr+ClXVkjZSFr14RLXeOE/Ra5rGm+cB73Td5XEinomcUd6EWuvgvyHJH55rRlLR2CPkPYeBx7+k5meSTP1mYV9aq49VRFVfzPs4jVcMCcAy2yG6LDj7pvevtcbYRFRLhoLdj0B+ttGUk+JV8v2e1oUF413816DyRkjPg/GhzUkZL5k6D7/Xm39b5+4gmYxEBsbJXyWlnkPDUf6WshWmF7zs9hi6watauPXhtHD+jB2EKHzD5PzcoiIJKEkTfd+fCqpwnlmuoD2PqnsvsweqDPAndJkbTkr2cCGeoLWRG5mml2gvE9aFxiHRsMM1xGPEwWg2CLQI/df1dkDiWdqPQAR3+79Hd+jSPBWri9/jpCcUctipA="
    - secure: "aD+Oy7LWkPTMaCLNpDqvQks6v9EpQuPp9VuKgGAJz3NWcBD0rBQnzXXwBu6xQMuxq67XuHyz9OzC3SpXUXfZYMrACaaX3QyL1qUnMAYiqpYCrr2N1+803yRM9h0wsMdTqXblUcZaNrwZSpkmA68BoQ3qkmIF4xyAdI3pmBgVsxVbpDAoGj5/pygeUvGXT+N0wRqpgPjcmOqjy3tQTAZaEhiTU+cn7bOy2hBGD+Nu4jGWFvFmqPps7dVsj+zMtld0vgVh2OmGcGM2PzjrdVOIFJcZ7c20zVz81JUkQqgpW9KkpTFXzCUzcNcvq8J9fu2EIIeNkQQ2L0/gYjQbIJ0jZC9vtSc9NpuH1js53e/SFD6X6w4Bm7jcPU668yly4CJQWZ5go+9HRXSxImV0paORXBJkSVj14d6zU0aEHUp/voyfBGDtjndQALUzJkIR0W84gZacWf/UJjCkGqqbPX2p1Kg1QhFyZHudTCm5VFaSJOVcFezlF2dFPl+8W2EVtX6bR20X+Drq8XxeVW5AUgGD/XpQy0j4fRlUqRQLenT5oPGOqI6+fgQmn/FIjUZf8a95AtnOaRZ+Cg/krw4RaKtLO3t30vwUlIiQgCuR22bQmu9Gw3/8h+NH0PELvJ1Tw0SCqoBekWGD+4Bptb0bA7/W/0xP8OU2uxqFMUW0WZ8BEIc="

install:
  mvn validate

script:
  MAVEN_OPTS="-Dmaven.repo.local=$HOME/.m2/repository -Xmx1024m -XX:MaxPermSize=192m" mvn package -Djiiify.ignore.auth=true

# Right now, we build twice: once with auth off for testing and once with auth on for deploy
after_success:
  - mvn install -DskipTests
  - mvn com.gavinmogan:codacy-maven-plugin:coverage -DcoverageReportFile=target/site/jacoco/jacoco.xml -DprojectToken="${PROJECT_TOKEN}" -DapiToken="${API_TOKEN}"

deploy:
  - provider: s3
    access_key_id: "${AWS_ACCESS_KEY_ID}"
    secret_access_key: "${AWS_SECRET_ACCESS_KEY}"
    bucket: "build-artifacts.library.ucla.edu"
    local_dir: target/build-artifact
    upload_dir: jiiify/develop
    skip_cleanup: true
    acl: public_read
    region: us-west-2
    on:
      branch: develop
  - provider: s3
    access_key_id: "${AWS_ACCESS_KEY_ID}"
    secret_access_key: "${AWS_SECRET_ACCESS_KEY}"
    bucket: "build-artifacts.library.ucla.edu"
    local_dir: target/build-artifact
    upload_dir: jiiify/stage
    skip_cleanup: true
    acl: public_read
    region: us-west-2
    on:
      branch: stage
  - provider: s3
    access_key_id: "${AWS_ACCESS_KEY_ID}"
    secret_access_key: "${AWS_SECRET_ACCESS_KEY}"
    bucket: "build-artifacts.library.ucla.edu"
    local_dir: target/build-artifact
    upload_dir: jiiify
    skip_cleanup: true
    acl: public_read
    region: us-west-2
    on:
      tags: true

cache:
  directories:
    - $HOME/.m2

notifications:
  email:
    recipients:
      - ksclarke@ksclarke.io
    on_failure: change
    on_success: never
  irc:
    channels:
      - irc.freenode.org#freelibrary
    on_failure: always
    on_success: always
  slack:
    secure: eMZgS79kzSH6opY2sSJhrYdTg0jLB/JzLEvQFcn6xoDtek3/WjWWg4+M8sYv/qPqwzY3jeJ0vxd8SIwcgBJkgOHVJqvmqxWV49/F8EOENaDU+oWo5vUUh8GvM1e+B/4wZd14PbD6w9m4qs1gIAUcPECE21p0KDtvN/VYnH+96LI=

sudo: false
