{{> templates/admin/header}}
<div class="container" class="centered">
  <div class="jumbotron">
    <h1>Hello, World!</h1>
    <p>Welcome to the image server that's backwards-compatible with Djatoka and forwards-compatible with IIIF.</p>
    <p><a class="btn btn-primary btn-lg" href="/admin/login" role="button">Login</a></p>
</div>
</div>

<!-- div#wrap close -->
</div>
{{> templates/admin/footer}}