{{> templates/header}}
<div class="container" class="centered">
  <div class="jumbotron">
    <h1>Hello, World!</h1>
    <p>Welcome to Jiiify, an experimental IIIF (version 2, level 0) image server.</p>
    <p><a class="btn btn-primary btn-lg" href="/admin/login" role="button">Login</a></p>
</div>
</div>

<!-- div#wrap close -->
</div>
{{> templates/footer}}