
{{> templates/header}}

  <div class="container" id="viewer">
    <div id="jiiify-admin-image" class="openseadragon" />

    <script src="/admin/js/openseadragon.min.js"></script>
    <script type="text/javascript">
      var container = document.getElementById('viewer');
      var osd = document.getElementById('jiiify-admin-image');

      osd.style.width = container.clientWidth + 'px';

      OpenSeadragon({
        id: "jiiify-admin-image",
        preserveViewport: true,
        sequenceMode: false,
        tileSources: [ '{{jiiify-service-prefix}}/{{id}}/info.json' ]
      });
    </script>
  </div>

<!-- div#wrap close -->
</div>

{{> templates/footer}}