<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'></link>
    <script src='/admin/js/hello-min.js'></script>
  </head>
  <body style="background-color:#743886;color:#fff;text-align:center;font-family:'Droid Sans',sans-serif">
    <h3 style="position:relative;top:50%;transform:translateY(-50%);">Processing Login</h3>
  </body>
</html>