html,
body{
  height: 100%;
}

#wrap{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -50px;
}

/* Set the fixed height of the footer here */
#push,
#footer{
  height: 50px;
}

#footer{
  background-color: #f5f5f5;
  padding: 0;
  border-color: #ddd;
  font-size: 80%;
}

#footer div.container{
  padding-top: 18px;
}

@media (max-width : 767px){
  #footer{
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#wrap > .container{
  padding-top: 60px;
}

.container .credit{
  margin: 20px 0;
}

.navbar-brand{
  padding-top: 18px;
  margin-top: -4px;
  font-size: 25px;
}

.navbar-nav li{
  margin-right: -25px;
  margin-left: 25px;
}

.navbar-nav li a{
  padding-top: 18px;
}

.dropdown-menu li{
  padding: 0px;
  margin: 0px 8px;
  line-height: 1.0;
}

.dropdown-menu li a{
  padding: 5px 8px;
  line-height: 1.0;
}

/* Below custom to Jiiify */

.browse-details{
  margin-top: 15px;
}

.openseadragon{
  /* OxygenXML's CSS editor doesn't like this but it's okay */
  height: calc(100vh - 108px);
  margin-left: auto;
  margin-right: auto;
  color: #800000;
  background-color: black;
}

.page-header{
  margin: -15px 0px 0px 0px;
  border-bottom: 0px;
}

.pull-right{
  width: 12em;
}

#search-form{
  padding-right: 10px;
}

#image-results tr td.thumbnail{
  padding: 5px;
  width: 155px;
  height: 155px;
}

#image-results tr td.brief-metadata{
  padding: 5px;
  vertical-align: top;
}

#download-button{
  margin-top: 15px;
}

#download-form{
  margin-bottom: 40px;
}

#google-login{
  text-align: center;
  padding: 10px 20px 10px;
}

#google-login-response{
  padding: 15px 5px 5px 5px;
}

input#skipimages,
input#skipproperties,
input#skipindexing{
  margin-left: 15px;
}