<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] %logger{45} | %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="ch.qos.logback" level="WARN"/>
  
  <!-- Our code coverage tests need logging to be set to DEBUG -->
  <logger name="info.freelibrary.jiiify" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>