{{> templates/admin/header}}
<div class="container">
 <h3>Image properties for: {{this.id}}</h3>
 <div><span style="font-weight: bold;">Source file:</span> {{jiiify-image-source}}</div>
 <br/><br/>
</div>