{{> templates/admin/header}}
<div class="container">
  <h3>Download {{this.id}}</h3>
  <p>To download a zip file of derivative images (and image metadata) that can be served from another machine, input
    the name of the server on which the files will be unzipped. Include the path to the images and the expected URL
    scheme.
  </p>
  <form id="download-form" role="form" action="/admin/download/zip/{{this.id}}" method="post">
    <div class="form-group">
      <label for="server">Destination server location:</label>
      <input class="form-control" type="url" name="server" size="30" id="server"
        placeholder="" />
      <script>$("server").attr('placeholder', window.location.protocol + '//' + window.location.host + {{jiiify-service-prefix}});</script>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Delete from this server afterwards</label>
    </div>
    <button type="submit" class="btn btn-default" id="download-button">Download</button>
  </form>
</div>